{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}
	comment
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h1 style="font-family: 'Lobster Two', cursive; font-weight: 30%;">Comment on:</h1>
			<h2 style="font-family: 'Lobster Two', cursive; font-weight: 30%;">{{ post.body|markdown|linebreaks }}</h2>
			<img src="{{ post.photo.url }}" class="img-rounded img-responsive">
			<h3>{{ comments.count }} comment{{ comments.count|pluralize }}</h3>
			<form action="." method="POST">
				{% csrf_token %}
				{{ form|crispy }}
				<button class="btn btn-success btn-block">add comment</button>
			</form>
		</div>
		<div class="col-md-4">
			<h3 style="font-family: 'Lobster Two', cursive; font-weight: 30%;">Comments:</h3>
			{% if comments %}
				{% for comment in comments %}
					<p><b><a href="{% url "shots:user_detail" comment.commented_by %}">{{ comment.commented_by }}</a></b> {{ comment.body|markdown|linebreaks }}</p>
					<small>{{ comment.created|naturaltime }}</small><hr>
				{% endfor %}
			{% else %}
			{% endif %}
		</div>
	</div>
{% endblock %}