{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}
	{% if post %}
		update
	{% else %}
		add a new post
	{% endif %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-5"></div>
		<div class="col-md-4">
			{% if post %}
				<h3>Update post</h3>
			{% else %}
				<h3>Add a new post</h3>
			{% endif %}
			<form action="." method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form|crispy }}
				{% if post %}
					<button class="btn btn-success btn-block">update</button>
				{% else %}
					<button class="btn btn-success btn-block">post</button>
				{% endif %}
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
{% endblock %}