{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
	{{ user.username }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-5">
			{% if user.profile.profile_photo %}
				<div id="user-detail-photo">
					<img src="{{ user.profile.profile_photo.url }}" class="img-circle" width="250" height="250">
				</div>
			{% endif %}
		</div>
		<div class="col-md-2">
			<h4>{{ posts.count }} post{{ posts.count|pluralize }} so far</h4>
		</div>

		<div class="col-md-2">
			<p><b>Member since:</b></p>
			<p>{{ user.date_joined|timesince }}</p>
		</div>
		<div class="col-md-2">
			<a href="{% url "account:edit" %}"><button class="btn btn-default">Edit Profile</button></a>
		</div>
		<div class="col-md-7" style="padding-top: 30px;">
			<p><b>{{ user.profile.bio|linebreaks }}</b></p>
		</div>
	</div><br><br>
	<div class="row">
		{% if posts %}
			{% for post in posts %}
				<div class="col-md-3">
					<div>
						<img src="{{ post.photo.url }}" class=" img-responsive" style="width: 100%; height: 100%;">
					</div>
					<div style="background-color: #d3d3d3; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
						
						{% if post.likes.count > 0 %}
							<a href="{% url "shots:likers_list" post.pk %}">
								<p style="padding-left: 5px; padding-top: 5px;">
									<b>{{ post.likes.count }} like{{ post.likes.count|pluralize }}</b> 
									<a href="{% url "shots:edit" post.pk %}" style="float: right; padding-right: 15px;"><span class="glyphicon glyphicon-pencil"></span>
									</a>
									
								</p>
							</a>
						{% else %}
							<p style="padding-left: 5px; padding-top: 5px;">
								<b>{{ post.likes.count }} like{{ post.likes.count|pluralize }}</b> 
								<a href="{% url "shots:edit" post.pk %}" style="float: right; padding-right: 15px;"><span class="glyphicon glyphicon-pencil"></span>
								</a>
							</p>
						{% endif %}
						
						
						<p style="padding-left: 5px;"><b>{{ post.posted_by }}</b></p>
						<div style="padding-left: 5px; padding-bottom: 1px;">
							{{ post.body|linebreaks }}
						</div>
					</div>
				</div><br>
			{% endfor %}
		{% else %}
			<p><b>{{ user.username }}, you have not posted anything yet. Start posting <a href="{% url "shots:post" %}">here</a>.</b></p>
		{% endif %}
	</div>
{% endblock %}